.sidebar {
    width: 320px;
    border-right: 1px solid hsl(var(--border));
    background-color: hsl(var(--background));
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    /* Subtract header height */
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.footer {
    padding: 1rem;
    border-top: 1px solid hsl(var(--border));
}